/*universal selector
*{
    /* font-weight: bold; 
}*/

/*attribute selector
[lang='es']
[class~='skill-list']
*/

/*id selector
 #skills 
*/

/*class selector
.className
p.className
p.className.className2
.className.className2
*/

/*grouping selectors
ul, ol{}
*/

/*descendant combinators
ul p{}
*/

/*child combinators
div ol>li p{}
*/

/*next siblings combinators
h2 + blockcode{}
*/

/* subsequence-sibling combinators
h2 ~ p{}
*/

/*pseudo selectors
li:nth-child(2n+1){}
*/

/*typed child-indexed pseudo-classes
li:nth-of-type(2){}
*/

/*user action pseudo-classes
a:visited{}
a:hover{}
input:focus{}
*/

/*negation pseudo-classes
section:not(#skills){}
*/

/*pseudo-elements
p::first-letter{}
*/

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

nav {
    position: sticky;
    top: 0;
}

main {
    max-width: 700px;
    padding: 0 2rem;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

img {
    width: 40vw;
}

#skills ul li{
    border: solid 1px black;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    height: 30px;
    overflow: auto;
}

.resume-fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
.resume-fieldset legend{
    padding: 0;
}